In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['pdf.fonttype'] = 42

In [2]:
%matplotlib inline

In [3]:
!pwd

/Users/sherrelldorsey1/Desktop/Columbia Work/Image and Sound/BlackTechWorkforce

In [4]:
!ls

BubbleMap-BlackTechWorkforce.svg employment.csv
ScatterPlot.ipynb

In [6]:
df = pd.read_csv("employment.csv")

df.head(12)

                                                 city  year-2007  year-2015
0                  Atlanta-Sandy Springs-Marietta, GA      22342      18148
1                                Baltimore-Towson, MD       5819       3510
2                               Birmingham-Hoover, AL       3464       2668
3                          Detroit-Warren-Livonia, MI       7723       4284
4                                           Flint, MI        214         59
5                                         Jackson, MS       1489       1877
6               Miami-Fort Lauderdale-Miami Beach, FL       6134       4401
7                     New Orleans-Metairie-Kenner, LA       1746        885
8   New York-Northern New Jersey-Long Island, NY-N...      31812      23657
9                                   Trenton-Ewing, NJ        920        468
10       Washington-Arlington-Alexandria, DC-VA-MD-WV      18340      11461

In [7]:
df.dtypes

city         object
year-2007     int64
year-2015     int64
dtype: object

In [ ]:
df.plot(x='open', y='close', kind='scatter', alpha=0.25)